services:
  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_DATABASE: mylibrary
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mylibrarybe:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/mylibrary
      SERVER_PORT: 8080
    ports:
      - "8081:8080"
    depends_on:
      - mongo

volumes:
  mongo-data: